<div class="container" >
    <h1>Task Registration Form</h1>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <ng-container *ngIf="formSubmitted && !taskForm.touched">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            Task Submitted Successfully!
          </div>
        </ng-container>
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter task name">
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input formControlName="date" type="text" class="form-control" id="date" aria-describedby="date"  placeholder="mm/dd/yyyy">
        <div *ngIf="taskForm.get('date')?.invalid && taskForm.get('date').errors.dateInvalid && (taskForm.get('date')?.dirty || taskForm.get('date')?.touched)" >
              Invalid Date Entered.
        </div>
      </div>
      <div class="form-group">
        <label for="assigned">Assigned Person</label>
        <input formControlName="assigned" type="text" class="form-control" id="assigned" aria-describedby="assigned"  placeholder="Enter Assigned Person">
      </div>
      <button [disabled]="!taskForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>

  <div class="card mt-3" >
      <div class="card-header">
        List of Tasks
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let task of taskList">
            {{ task.name }} - {{task.date}} - {{task.assigned}}
          </li>
      </ul>
  </div>
</div>
